# Apyori Algorithm

In [1]:
import numpy as np
import pandas as pd
from apyori import apriori

In [23]:
#read file
df = pd.read_csv('C:\\Users\\500062936\\Documents\\apriori_data.csv', header = None)
df.shape[1]

4

In [24]:
df.head()

            0      1           2           3
0       bread    egg      papaya  oat packet
1      papaya  bread  oat packet        milk
2         egg  bread      butter         NaN
3  oat packet    egg        milk         NaN
4        milk  bread      butter         NaN

In [25]:
df.values

array([['bread', 'egg', 'papaya', 'oat packet'],
       ['papaya', 'bread', 'oat packet', 'milk'],
       ['egg', 'bread', 'butter', nan],
       ['oat packet', 'egg', 'milk', nan],
       ['milk', 'bread', 'butter', nan],
       ['papaya', 'milk', nan, nan],
       ['Butter', 'papaya', 'bread', nan],
       ['egg', 'bread', nan, nan],
       ['papaya', 'oat packet', nan, nan],
       ['milk', 'papaya', 'bread', nan],
       ['egg', 'milk', nan, nan]], dtype=object)

In [26]:
data = []
for i in range (0, df.shape[1]):
    data.append(str(df.values[i,j]) for j in range(0, df.shape[1]-1))
len(data)

4

# build model

In [27]:
model = apriori(data, min_support = 0.50,min_confidenc = 0.7, lift = 1.2, min_lenght = 2)
res = list(model)

In [28]:
len(res)

7

In [29]:
res

[RelationRecord(items=frozenset({'egg'}), support=1.0, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'egg'}), confidence=1.0, lift=1.0)]),
 RelationRecord(items=frozenset({'milk'}), support=1.0, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'milk'}), confidence=1.0, lift=1.0)]),
 RelationRecord(items=frozenset({'oat packet'}), support=1.0, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'oat packet'}), confidence=1.0, lift=1.0)]),
 RelationRecord(items=frozenset({'egg', 'milk'}), support=1.0, ordered_statistics=[OrderedStatistic(items_base=frozenset({'egg'}), items_add=frozenset({'milk'}), confidence=1.0, lift=1.0), OrderedStatistic(items_base=frozenset({'milk'}), items_add=frozenset({'egg'}), confidence=1.0, lift=1.0)]),
 RelationRecord(items=frozenset({'egg', 'oat packet'}), support=1.0, ordered_statistics=[OrderedStatistic(items_base=frozenset({'egg'}), items_add=frozenset({'oat packet'}), confidence=1.0, lift=1.0), OrderedStatistic(items_base=frozenset({'oat packet'}), items_add=frozenset({'egg'}), confidence=1.0, lift=1.0)]),
 RelationRecord(items=frozenset({'oat packet', 'milk'}), support=1.0, ordered_statistics=[OrderedStatistic(items_base=frozenset({'milk'}), items_add=frozenset({'oat packet'}), confidence=1.0, lift=1.0), OrderedStatistic(items_base=frozenset({'oat packet'}), items_add=frozenset({'milk'}), confidence=1.0, lift=1.0)]),
 RelationRecord(items=frozenset({'oat packet', 'egg', 'milk'}), support=1.0, ordered_statistics=[OrderedStatistic(items_base=frozenset({'egg', 'milk'}), items_add=frozenset({'oat packet'}), confidence=1.0, lift=1.0), OrderedStatistic(items_base=frozenset({'egg', 'oat packet'}), items_add=frozenset({'milk'}), confidence=1.0, lift=1.0), OrderedStatistic(items_base=frozenset({'oat packet', 'milk'}), items_add=frozenset({'egg'}), confidence=1.0, lift=1.0)])]